# ca65 linker config for Final Fantasy 6, expanded to 32MBit

MEMORY {
    ZEROPAGE:              start = 0,       size = $100;
    BSS:                   start = $200,    size = $1800;
    WRAM:                  start = $7e0000, size = $20000;
    ROM:        file = %O, start = $c00000, size = $400000;
}

SEGMENTS {
    ZEROPAGE:                                   load = ZEROPAGE,              type = zp;
    BSS:                                        load = WRAM, start = $7e0000, type = bss;
    BASETEXT:                                   load = ROM,  start = $c00000, type = ro;
    PTEXTHEADER:                                load = ROM,  start = $c0ffc0, type = overwrite;
    PDATAENEMYNAMES:                            load = ROM,  start = $cfc050, type = overwrite;
    PTEXTENCOUNTERINIT:                         load = ROM,  start = $c1102a, type = overwrite;
    PTEXTENCOUNTERDRAWENEMYNAME:                load = ROM,  start = $c16993, type = overwrite;
    PTEXTENCOUNTERBUILDMENUITEMFORITEM:         load = ROM,  start = $c14c6b, type = overwrite;
    PTEXTENCOUNTERBUILDMENUITEMFORITEMINHAND:   load = ROM,  start = $c14bba, type = overwrite;
    PTEXTENCOUNTERBUILDMENUITEMFORTOOLS:        load = ROM,  start = $c14bf7, type = overwrite;
    PTEXTENCOUNTERDRAWITEMNAME:                 load = ROM,  start = $c16566, type = overwrite;
    PTEXTENCOUNTERBUILDMENUITEMFORRAGE:         load = ROM,  start = $c14ce2, type = overwrite;
    PTEXTENCOUNTERDRAWRAGENAME:                 load = ROM,  start = $c16628, type = overwrite;
    PTEXTENCOUNTERRUNDMA:                       load = ROM,  start = $c10bdd, type = overwrite;
    PTEXTENCOUNTERRESTORESMALLFONT:             load = ROM,  start = $c143bc, type = overwrite;
    PTEXTMENUINIT:                              load = ROM,  start = $c368fa, type = overwrite;
    PTEXTMENULOADEQUIPMENTNAME:                 load = ROM,  start = $c38fe1, type = overwrite;
    PTEXTMENUDRAWITEMNAME:                      load = ROM,  start = $c37fcd, type = overwrite;
    PTEXTMENUDRAWITEMTOEQUIPNAME:               load = ROM,  start = $c39d07, type = overwrite;
    PTEXTMENUINITRAGEMENU:                      load = ROM,  start = $c321a6, type = overwrite;
    PTEXTMENUDRAWRAGEROW:                       load = ROM,  start = $c353ee, type = overwrite;
    PTEXTMENUDRAWRAGENAME:                      load = ROM,  start = $c35433, type = overwrite;
    PTEXTMENUDRAWBLITZ:                         load = ROM,  start = $c35643, type = overwrite;
    PTEXTMENUDRAWDANCE:                         load = ROM,  start = $c357d0, type = overwrite;
    PTEXTMENUDRAWITEMFORSALE:                   load = ROM,  start = $c3b9bd, type = overwrite;
    PTEXTMENUBUILDCOLOSSEUMITEMS:               load = ROM,  start = $c3ad27, type = overwrite;
    PTEXTMENUDRAWCOLOSSEUMITEM:                 load = ROM,  start = $c3b263, type = overwrite;
    PTEXTMENUDRAWCOLOSSEUMENEMY:                load = ROM,  start = $c3b28d, type = overwrite;
    PTEXTMENURUNDMA:                            load = ROM,  start = $c31412, type = overwrite;
    TEXT:                                       load = ROM,  start = $f00000, type = overwrite;
    DATA:                                       load = ROM,  start = $f30000, type = overwrite;
}
